body
{
    text-align: center;
}

.line
 {
    background-color: black;
    width: 70px;
    height: 8px;
    margin: 8px auto;
 }

 #apps
 {
    background: linear-gradient(#ffafbd 0%, #ffc3a0 100%)
 }

 #games
 {
    background: linear-gradient(#2193b0 0%, #6dd5ed 100%);
 }

 #dialogflow
 {
    background: linear-gradient(#de6262 0%, #ffb88c 100%);
 }